html,
body {
  margin: 0;
  background-color: black;
}
.canvasWrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}
.webgl {
  position: fixed;
  z-index: 1;
}

.section {
  height: 500px;
}

.sectionTitle {
  color: white;
  position: absolute;
  z-index: 2;
}

.leftTitle {
  margin-left: 50px;
}
.rightTitle {
  margin-left: 500px;
}
